<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
	<channel>
		<title>Daves of Thunder</title>
    <% shows.each do |show| %>
  		<item>
  			<title><%= show.name %></title>
  			<guid><%= show.name %></guid>
  			<pubDate><%= show.date %></pubDate>
  			<enclosure url="<%= "http://#{hostname}/#{show.url}" %>" length="<%= show.length %>" type="audio/mpeg"/>
  		</item>
    <% end %>
	</channel>
</rss>
