<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd">
    <channel>
        <title><%= show["title"] %></title>
        <itunes:image href="<%= "http://#{hostname}/shows/#{params[:show]}/logo.png" %>" />
        <% episodes.each do |episode| %>
            <item>
                <title><%= episode.name %></title>
                <guid><%= episode.name %></guid>
                <pubDate><%= episode.date %></pubDate>
                <enclosure url="<%= "http://#{hostname}/#{episode.url}" %>" length="<%= episode.length %>" type="audio/mpeg"/>
                <itunes:image href="<%= "http://#{hostname}/episodes/#{params[:show]}/logo.png" %>" />
            </item>
        <% end %>
    </channel>
</rss>
